.header {}

.header-navbar {
  border-radius: 0;
  
  :global .container {
    width: 100%;
  }
}

.header-logo {
  position: relative;
  top: -9px;
  height: 40px;
}

.header-button {
  background-color: #eaeaea;
}
